// @import "bulma";

nav {
      color: white;

      text-align: center;
      width: 100%;
      font-family: 'Open Sans Condensed', sans-serif;
}



.portfolio-links{
  height: 40px;
  width: 100%;
text-align: center;
word-spacing: 50px;
position: absolute;
padding-top: 25px;
// top: 20px;
// background: rgba(0,0,0,0.6);





.nav-links{
  font-size: 24px;
  text-decoration: none;
  color: #006bbb;
  // border-bottom: solid #bb5000;
}


}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #bb5000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

// .landing-img{
// height: 725px;
// width: 100%;
// }

.landing{
  height: 726px;

  width: 100%;
  background-image: url(mountains.jpg);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}


@keyframes flickerAnimation {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 50px;
  }
}

@-moz-keyframes flickerAnimation {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 50px;
  }
}

@-webkit-keyframes flickerAnimation {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 50px;
  }
}

.Ryan{
  font-size: 60px;
  color: black;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px 0px rgba(255,255,255,.7), 5px 7px 0px rgba(0, 0, 0, 0.1);

}

.animate-flicker {
  position: absolute;
  animation: flickerAnimation 1s;
  -webkit-animation: flickerAnimation 1s;
  -moz-animation: flickerAnimation 1s;
  -o-animation: flickerAnimation 1s;
  animation-fill-mode: forwards;
  margin-top: 15%;
margin-left: 30%;

}


@keyframes flickerAnimation2 {
  0% {
    bottom: 250px;
    opacity: 0;
  }
  100% {
    bottom: 300px;
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation2 {
  from {
    bottom: 250px;
    opacity: 0;
  }
  to {
    bottom: 300px;
  }
}

@-moz-keyframes flickerAnimation2 {
  from {
    bottom: 250px;
    opacity: 0;
  }
  to {
    bottom: 300px;
  }
}

@-webkit-keyframes flickerAnimation2 {
  from {
    bottom: 250px;
    opacity: 0;
  }
  to {
    bottom: 300px;
  }
}
.animate-flicker2 {
  position: absolute;
  animation: flickerAnimation2 1s;
  -webkit-animation: flickerAnimation2 1s;
  -moz-animation: flickerAnimation2 1s;
  -o-animation: flickerAnimation2 1s;
  animation-fill-mode: forwards;
  margin-left: 30%;
  margin-top: 30%;
  color: white;
  -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
     animation-delay: .5s;
     opacity: .0;


}


.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.down-arrow{
  position: relative;
  height: 80px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 635px;
}

img.down-arrow{
  height: 80px;
  width: 80px;
}

.about-bullets{
color: black;
font-family: 'Rubik Mono One', sans-serif;
font-size: 18px;
margin-left: 30%;
margin-bottom: 5%;
}

.about-me{
  height: 726px;
  width: 100%;


}

.about-header{
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 35px;
  font-family: 'Rubik Mono One', sans-serif;

  border-bottom: solid #C1D7F9;
}



.me{
  height: 400px;
  width: 256px;
  margin-left: 10%;
  background-image: url(me.jpg);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: inline-block;
}

.head-text {
  font-family: 'Patua One', cursive;

}


.about-text {
  // border: solid;
  width: 55%;
  height: 400px;
  float: right;
  margin-right: 5%;
  display: inline-block;
  font-size: 23px;
  font-family: 'Lato', sans-serif;

  // text-align: justify;
  //   text-justify: inter-word;
}

.projects-intro{
  height: 300px;
  width: 100%;
  background-image: url(mountain-lake.jpg);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.project-header{
  text-align: center;
  padding-top: 10%;
  font-family: 'Rubik Mono One', sans-serif;

}


.projects-container{
  height: 1300px;
  width: 100%;
  padding-top: 50px;
}

.project-heading{
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;

}

.project-img1{
  height: 400px;
  width: 460px;
  background-image: url(showranker.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 5%;

}

.project-img2{
  height: 400px;
  width: 460px;
  background-image: url(Foto.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 5%;

}

.project-img3{
  height: 400px;
  width: 460px;
  background-image: url(Etsy.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 5%;

}

.project-text{
  width: 460px;
  height: 260px;
  float: right;
  display: inline-block;
  margin-right: 5%;
  font-family: 'Patua One', cursive;
  text-align: justify;
    text-justify: inter-word;

p{
  font-family: 'Lato', sans-serif;
  font-size: 23px;


}

}





.project-title{
  margin-top: 0px;
}
// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }


.contact-container {
  color: #bfbfbf;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgba(245,245,245,1);
  margin-top: 100px;
}



.contact-header{
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  color: black;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contact-form input,
.contact-form textarea {
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: .8em;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(34,34,34,0.1);
  resize: none;
}

.contact-form textarea {
  margin-bottom: 1em;
  height: 125px;
}

.contact-form input:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
}

.contact-form textarea:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
}

#submit {
  color: white;
  background-color: #bfbfbf;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 50px;
}

#submit:hover {
  background-color: rgba(3,201,169,.6);
}



.resume{
  height: 80px;
  width: 80px;
  margin-left: 47%;
  margin-bottom: 3%;

}

.resume-title{
  position: relative;
  text-align: center;
  bottom: 4%;
}


/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer {
    height: 150px;
    background-color: #222;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    padding-top: 3%;
    font-family: 'Lato', sans-serif;

.dev{
font-weight: bolder;;
text-transform: uppercase;

}

.name{
}
.contact-info{
   color: #00D6AB;
   display: inline-block;
   padding-right: 20px;
   font-family: 'Lato', sans-serif;
   text-decoration: none;
 }
}
