@import "bulma";
//
// body {
//     margin: 0;
//     padding: 0;
// }

.nav {
//       color: white;
//
//       width: 100vw;
//       font-family: 'Open Sans Condensed', sans-serif;
//       position: absolute;
//       left: 0;
//       right: 0;
//       margin: auto;
padding-top: 0px;
position: relative;
z-index: 999;
}



.portfolio-links{
  // height: 40px;
  width: 100vw;
// text-align: center;
// word-spacing: 50px;
word-spacing: 10vw;
// position: absolute;
padding-top: 3%;
// top: 20px;
// background: rgba(0,0,0,0.6);
// left: 0;
// right: 0;
// margin: auto;
position: absolute;
text-align: center;
      // left: 0;
      // right: 0;
      // margin: auto;
      // border: solid;





.nav-links{
  font-size: 24px;
  font-size: 2vw;
  text-decoration: none;
  color: 	white;
  // border-bottom: solid #bb5000;
}


}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #bb5000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

// .landing-img{
// height: 725px;
// width: 100%;
// }

// .landing{
//   height: 726px;
//
//   width: 100%;
//   background-image: url(mountains.jpg);
//   background-attachment: fixed;
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: cover;
// }

#particles-js{
  // height: 726px;
  height: 100vh;
  width: 100%;
  background-color: #186cb6;
  background-image: url("");
  background-attachment: fixed;
  background-position: center;

background-repeat: no-repeat;
background-size: cover;
// background-position: 50% 50%;
}




.Ryan{
  // padding-top: 10vh;
  font-size: 60px;
  font-size: 5vw;
  color: black;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px 0px rgba(255,255,255,.7), 5px 7px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
position: absolute;


left: 0;
right: 0;
margin: auto;
top: 30%;

}

.Slide{
  // display: flex;
  // justify-content: center;
 border: solid;
display: block;
position: absolute;
margin: 0 auto;
}

.about-bullets{
color: black;
font-family: 'Rubik Mono One', sans-serif;
font-size: 18px;
font-size: 1.5vw;
// margin-top: 350px;
// margin-top: 50vh;
position: absolute;
// order: 2;
// text-align: center;
// align-self: center;
text-align: center;
left: 0;
right: 0;
margin: auto;

top:45%;

}




.down-arrow{
  position: absolute;
  // height: 80px;
  // width: 80px;
  // height: 5vh;
  // width: 5vw;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // top: 635px;
  top:86%;
  // left: 46%;
  left: 0;
  right: 0;
  margin: auto;
// margin-right: 40%;
}

img.down-arrow{
  height: 12vh;
  // width: 5vw;
}



.about-me{
  // height: 726px;
  height: 100vh;
  width: 100vw;
  // height: 100vh;
  // margin-bottom: 50px;
  // width: 100%;
  // display: flex;


}

.about-header{
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 35px;

  font-family: 'Rubik Mono One', sans-serif;
  // align-self: flex-start;
  border-bottom: solid #C1D7F9;
}



.me{
  // height: 400px;
  // width: 100px;
  height: 55vh;
  width: 30vw;

  // margin-left: 5%;
  background-image: url(me.jpg);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: inline-block;
 // align-items: center;
}

.head-text {
  font-family: 'Patua One', cursive;

}

.about-container{
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
}

.about-text {
  // border: solid;
  // width: 55%;
  height: 400px;
  float: right;
  // margin-right: 5%;
  display: inline-block;
  position: relative;
  white-space: normal;
  // font-size: 23px;
  font-size: 2vw;

  font-family: 'Lato', sans-serif;
  // resize: both;
  // text-align: justify;
  //   text-justify: inter-word;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="me"] {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="me"] {
        clear: left;
    }
}



.projects-intro{

  height: 300px;
  width: 100vw;
  background-image: url(mountain-lake.jpg);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 font-size: 34px;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.project-header{

  font-family: 'Rubik Mono One', sans-serif;

}


.projects-container{
  // height: 1200px;
  max-height: 120%none;
  height: auto;
  width: 100%;
  padding-top: 50px;
}

.project-heading{
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;

}

.project-img1{
  margin-top: 40px;
  height: 55vh;
  width: 65vh;
  // height: 300px;
  // width: 460px;
  background-image: url(showranker.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 20%;

}

.project-img2{
  margin-top: 40px;
  height: 55vh;
  width: 65vh;
  background-image: url(Foto.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 20%;

}

.project-img3{
  margin-top: 40px;
  height: 55vh;
  width: 65vh;
  background-image: url(Etsy.png);
 // background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: inline-block;
 margin-left: 20%;


}

.project-text{
  width: 460px;
  height: 260px;
  // float: right;
  display: inline-block;
  // margin-right: 5%;
  font-family: 'Patua One', cursive;
  text-align: justify;
    text-justify: inter-word;

p{
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  width: 500px;
  margin-left: 20%;



}

}

// .column project-text is-one-half is-offset-1{
//   margin-left: 0px;
// }



.project-title{
font-size: 24px;
margin-top: 40px;
margin-left: 20%;

}
// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }


.contact-container {
  color: #bfbfbf;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgba(245,245,245,1);
  padding-top: 50px;
}



.contact-header{
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  color: black;
  font-size: 34px;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contact-form input,
.contact-form textarea {
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: .8em;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(34,34,34,0.1);
  resize: none;
}

.contact-form textarea {
  margin-bottom: 1em;
  height: 125px;
}

.contact-form input:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
}

.contact-form textarea:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
}

#submit {
  color: white;
  background-color: #bfbfbf;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 50px;
}

#submit:hover {
  background-color: rgba(3,201,169,.6);
}


.resume-container{
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.resume{
  height: 80px;
  width: 80px;
}

.resume-title{
font-size: 24px;
text-align: center;
color: black;
}


/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer {
    height: 150px;
    background-color: #222;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    padding-top: 3%;
    font-family: 'Lato', sans-serif;

.dev{
font-weight: bolder;;
text-transform: uppercase;

}

.name{
}
.contact-info{
  margin-top: 25px;
   color: #00D6AB;
   display: inline-block;
   padding-right: 20px;
   padding-left: 20px;
   font-family: 'Lato', sans-serif;
   text-decoration: none;
 }

 .contact-info:hover{
   text-decoration: underline;
 }
}
